<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-primary">Departamentos</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-4">
        <button
        (click)="save(modal)"
        type="button"
        class="btn btn-primary me-md-1 col-md-2">
        <i class="pi pi-user-plus me-2"></i>Novo
        </button>
        <a
        role="button"
        class="btn btn-outline-primary col-md-2"
        routerLink="/panel">
        <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
      </div>
      <div class="mt-5">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody class="text-center">
            <tr *ngFor="let department of (departments$ | async)">
              <td>{{ department.name }}</td>
              <td>{{ department.phone }}</td>
              <td class="d-grid d-md-block">
                <button
                (click)="save(modal, department)"
                type="button"
                class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                <i class="pi pi-user-edit"></i></button>
                <button
                (click)="delete(department)"
                type="button"
                class="btn btn-outline-danger">
                <i class="pi pi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }} Departamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('close')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('save')">
    <div class="modal-body">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Nome do Departamento</label>
        <input formControlName="name"
          class="form-control"
          type="text"
          placeholder="Digite o nome do departamento">
      </div>

      <div class="form-group mb-3">
        <label for="phone" class="form-label">Telefone</label>
        <input formControlName="phone"
          class="form-control"
          type="text"
          placeholder="Digite o número de telefone do departamento">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary col-md-3" (click)="modal.dismiss('close')">
        Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3">Cadastrar</button>
    </div>
  </form>
</ng-template>
