<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-2 mb-4">
      <div class="btn-group">
        <button
          routerLink="/requisitions/my-requisitions"
          routerLinkActive="active"
          class="btn btn-outline-primary"
          aria-current="page">
          <i class="pi pi-ticket me-1"></i>Minhas Requisições
        </button>

        <button
          routerLink="/requisitions/my-department-requisitions"
          routerLinkActive="active"
          class="btn btn-outline-primary"><i class="pi pi-inbox me-1"></i>Requisições do meu Departamento
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
