* {
  font-family: 'Poppins', sans-serif;
}

.bg-color {
  background-color: #f6f8fc !important;
}

.bg-light {
  background-color: #fff !important;
}

.links {
  font-size: 17px;
}

.nav-link:hover {
  color: #124a9e !important;
}

th {
  font-size: 1rem;
  font-weight: 550;
}

label {
  font-weight: 550;
}

input {
  background-color: #f9f9fa !important;
}

.modal-header {
  background-color: #f9f9fa;
}

.modal-title {
  color: #0B5ED7;
}
